/*
 * This file contains all localizable skin settings such as 
 *   font, layout, and geometry
 *
 * Inspired by intl.css in he-IL.xpi
 *
 */

window { 
  font: 3mm tahoma,arial,helvetica,sans-serif;
}

/* make interface directionality = rtl */
window, dialog, wizard, page { direction: rtl; }
menu { direction: rtl; }
outliner { direction: rtl; }

/* make location bar directionality = ltr */
#urlbar { direction: ltr !important; }

/* leave search bar directionality = rtl */
#urlbar .autocomplete-search-engine {
	direction: rtl !important;
}

/* make autocomplete popups directionality = ltr */
popup[type="autocomplete"],
.autocomplete-history-popup {
	direction: ltr !important;
}

/* remove window resizer */
resizer[dir="bottomright"] {
	display: none;
}

